*{
    margin: 0px;
    padding: 0px;
}
.title{
    font-size: 55px;
    font-weight: bold;
}

.menu-container{
    background-color: rgb(23, 21, 21);
    padding: 20px;
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
} 
.item{
    margin-right: 10px;
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.item:hover{
    color: burlywood;
}
main{
    background-image: url(/images/background.png);
}
.bg-img{
    width: 300px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: whitesmoke;
    background-image: url(/images/background.png), linear-gradient(45deg, rgb(20, 17, 17), black);
}
.description{
    font-size: 18px;
    margin-top: 15px;
}
button{
    color: black;
    background-color:brown ;
}
button:hover{
    color: blue;
}

